<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de Alta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="formData.name" name="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="formData.name" name="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input [(ngModel)]="formData.name" name="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="formData.email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="formData.password" name="password" type="password" required></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="submitForm()">Enviar</ion-button>



  
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/library']">Volver</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

</ion-content>

